// @keyframes top-to-bottom {
//   0% {
//     opacity: 0;
//     transform: translateY(-100px) translateX(-100px);
//   }
//   50% {
//     opacity: 0.3;
//   }
//   70% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes bottom-to-top {
//   0% {
//     opacity: 0;
//     transform: translateY(100px) translateX(100px);
//   }
//   50% {
//     opacity: 0.6;
//   }
//   70% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

@keyframes blick {
  0% {
    transform: translate(-110%, 50%) rotate(40deg);
  }
  20% {
    transform: translate(110%, -50%) rotate(40deg);
  }
  100% {
    transform: translate(110%, -50%) rotate(40deg);
  }
}

@keyframes appearance {
  0% {
    transform: translateY(-10%) rotateY(10deg);
    opasity: 0;
  }
  40% {
    transform: translateY(-5%) rotateY(5deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(0%) rotateY(0deg);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes galleryAnimation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-bottom {
  0% {
    transform: translateY(800px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
