html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-secondary;
  font-weight: $regular;
  line-height: $primary;
  color: $primary-text-color;

  // overflow-x: hidden;

  @media screen and (min-width: $tablet) {
    font-size: $font-size-primary;
    font-weight: $medium;
  }
}
