%section-title {
  font-family: 'Caveat', cursive;

  text-align: center;
}

%btn-base {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;

  cursor: pointer;
}
