// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
$desktop-wide: 1440px;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// font-size
$font-size-primary: 16px;
$font-size-secondary: 14px;
$font-size-thirdery: 24px;
$font-size-fourth: 32px;
$font-size-fifth: 36px;
$font-size-sixth: 20px;
$font-size-seventh: 28px;

// line-height
$primary: 1.3;
$secondary: 1.5;
$thirdery: 2;

// text-color
$primary-text-color: #454543;
$secondary-text-color: #088f8f;

// transition
$time-transition: 300ms ease-in-out;

// цвета для проэлта
$one-color: #003631;
$two-color: #ffeda8;
