.header {
  position: relative;

  @media screen and (max-width: 767.98px) {
    padding: 10px 15px;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 40px;
  max-height: 40px;
  margin-left: 30px;

  @media screen and (min-width: $mobile) {
    max-width: none;
    max-height: none;
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 60px;
    height: 60px;
    margin-left: 60px;
  }
}

.nav-list {
  display: flex;
  gap: 10px;

  @media screen and (min-width: $desktop) {
    gap: 20px;
  }
}

.nav-link {
  display: inline-block;
  position: relative;

  transition: color $time-transition;

  @media screen and (min-width: $tablet) {
    padding: 25px 4px;
  }
  @media screen and (min-width: $desktop) {
    padding: 27px 4px;
    font-size: $font-size-thirdery;
    font-weight: $bold;
  }
  @media screen and (min-width: $desktop) {
    padding: 37px 6px;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: $secondary-text-color;
}

.nav-link::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: $secondary-text-color;
  border-radius: 8px;
  transform: scaleX(0);
  transition: transform $time-transition;
}

.nav-link:hover:before {
  transform: scaleX(1);
}

.menu-btn {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: burlywood;
  padding: 20px;

  &.is-open {
    display: block;
  }
}
