.hero {
  @include section-padding;

  max-width: $mobile;
  min-height: 400px;
  // padding: 100px 0;
  margin: 0 auto;

  background-color: $tertiary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient($hero-gradient, $hero-gradient),
    url(../images/hero/img_s@1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:
      linear-gradient($hero-gradient, $hero-gradient),
      url(../images/hero/img_s@2x.jpg);
  }
  @media screen and (min-width: 577px) {
    background-image:
      linear-gradient($hero-gradient, $hero-gradient),
      url(../images/hero/img_m@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient($hero-gradient, $hero-gradient),
        url(../images/hero/img_m@2x.jpg);
    }
  }
  @media screen and (min-width: 769px) {
    background-image:
      linear-gradient($hero-gradient, $hero-gradient),
      url(../images/hero/img_l@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient($hero-gradient, $hero-gradient),
        url(../images/hero/img_l@2x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    // padding: 120px 0;
  }

  @media screen and (min-width: $desktop) {
    // padding: 140px 0;
    max-width: 1600px;
    min-height: 700px;
    // height: 700px;
  }
}

.hero-title {
  padding-left: 100px;

  text-align: left;

  font-size: $font-size-thirdery;
  font-weight: $black;
  line-height: $secondary;

  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    padding-left: 260px;
    font-size: $font-size-fourth;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 520px;
    font-size: $font-size-eighth;
    line-height: $thirdery;
  }
}

.hero-title > span {
  display: block;
}

.hero-title-one {
  animation: top-to-bottom 1000ms ease-in 1200ms both;
}

.hero-title-two {
  margin-top: 20px;
  margin-left: 40px;

  animation: bottom-to-top 1000ms ease-in 2000ms both;
}

.hero-btn {
  position: relative;
  display: block;
  width: 160px;
  height: 52px;
  margin: 50px auto 0;

  border-radius: 12px;
  background-color: $btn-color;

  font-size: $font-size-primary;
  font-weight: $medium;
  color: $primary-color;

  overflow: hidden;

  transition:
    background-color $time-transition,
    // color $time-transition,
    border-radius $time-transition,
    transform $time-transition;

  &:active,
  &:focus,
  &:hover {
    background-color: $btn-color-accent;
    // color: $accent-primary-color;
    border-radius: 45px;
    transform: scale(1.1);
  }

  @media screen and (min-width: $tablet) {
    width: 180px;
  }

  @media screen and (min-width: $desktop) {
    width: 220px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;

    background: linear-gradient(
      to left,
      transparent 0%,
      #fff 40%,
      #fff 60%,
      transparent 100%
    );
    // transform: translate(-100%, -25%) rotate(-25deg);
    animation: blick 7s infinite;
  }
}
